<footer>
  <div class="container">
    <div class="footer-col">
      Greetings from HK! <br/>All Rights Reserved.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col site-desc">{{ site.description }}</div>
    <div class="footer-col">
      Template from <a target="_blank" href="https://github.com/domoritz/domoritz.github.io">@domoritz</a> 
      <br /> Modified version is <a target="_blank" href="https://github.com/yuanlinping/yuanlinping.github.io">here</a>.
      <!-- Modified template is <br /><a target="_blank" href="https://github.com/yuanlinping/yuanlinping.github.io">here</a> -->
    </div>
  </div>
</footer>